h1{
color:blue;
text-align: center;
}
h2{
text-align: center;
}
.imgcont{
text-align: center;
}
li a{
color : white;
}
ul{
list-style: none;
color:green;
}
li{
display: inline;
margin:20px;
padding:40px;
font-size: 22px;

}
header{
background-color: darkblue;
padding:10px;
color: white;
}
li a:hover {
color:yellow;
}
*{
font-family: monospace;
}
img{
border-radius: 50px;
width:35%;
align-items: left;
border-style: grey;
border-color: grey;
border: 20px;
}
footer{
background-color: grey;
padding:10px;
color: white;

}
h1 ,header
{
background-color: grey;
color: white;

}
footer
{
text-align: center;
}
p {
color:black;
text-align: center;
}
h3 ,h4
{
text-align:left;
}

.button{
	margin-bottom: 10px;
	margin-top: 10px;
}

img{
  	margin-top: 10px;
  }

.def:hover {
  box-shadow: 0 12px 16px 0 rgba(1,1,1,1.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.def{
	height: 128px;
	width: 128px;
}

.column {
  float: left;
  width: 16.6%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.row{
	margin-top: 60px;
}



#gray{
	background-color: lightgrey;
	padding: 5px;
}

.button{
	margin-top: 20px;
	margin-bottom: 20px;
}

h1{
	background-color: grey;
	padding: 10px;
}